* {
	margin: 0;
	padding: 0;
}
body {
	background: url("../images/contacts1.jpg") no-repeat fixed;
	background-size: cover;
}
h1, h6, h2 {
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
/*wrapper*/
#wrapper {
	width: 900px;
	margin: 0 auto;
	border: 3px solid black;
}
/*header*/
#header {
	height: 100px;
	border: 3px solid #4a0769;
	background-color: black;
	padding: 0;
	margin: 0;
}
#logo {
	height: 100px;
	width: 500px;
	float: left;
	position: absolute;
	
}
#logo img {
	padding-left: 20px;
	height: 100px;
	width: 200px;
	left: -20px;
	position: absolute;
}
#logo h1 {
	padding-top: 20px;
	padding-left: 200px;
	color: white;
	font-size: 40px;
	text-align: center;
}
#logo p {
	padding-top: 10px;
	color: orange;
	padding-left: 200px;
	text-align: center;
}
#rightcon{
	width:400px;
	height:100px;
	margin:0 auto;
	background:red;
	float:right;
}
#rightup{
	width:400px;
	height:50px;
	margin:0 auto;
	background:maroon;
	float:left;
	padding-top: 25px;
}

#rightdown{
	width:400px;
	height:50px;
	margin:0 auto;
	background:black;
	float:right;
}

/*flash*/
#flash {
	height: 460px;
}
#flash ul li {
	list-style-type: none;
}
#flash ul li a {
	text-decoration: none;
}
/*navigation*/
#navbar {
	border: 3px solid black;
	height: 80px;
	opacity: 0.6;
	background-color: maroon;
}
#navbar ul {
	text-align: center;
	line-height: 80px;
}
#navbar ul li a {
	text-decoration: none;
	color: black;
	display: inline-block;
	padding: 0 50px;
	transition: 0.5s all;
}
#navbar ul li a:hover {
	color: red;
	background: skyblue;
	border: 3px black;
	text-transform: uppercase(50deg);
	font-family: showcard gothic;
}
#navbar ul li {
	list-style-type: none;
	display: inline-block;
	font-size: 20px;
}

/*steady*/
#steady {
	height: 600px;
	background: url("../images/2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/*main content*/
#main-content {
	border: 3px solid black;
	height: 400px;
}
#side-bar {
	height: 400px;
	width: 197px;
	float: left;
}
#upper {
	height: 197px;
	width: 100%;
	border-bottom: 3px solid black;
}
#upper h1 {
	padding-top: 80px;
}
#lower {
	height: 197px;
	width: 100%;
	border-top: 3px solid black;
}
#lower h1 {
	padding-top: 80px;
}

#contents {
	height: 400px;
	width: 697px;
	float: right;
	background-color: #9999ff;
}

#contents h1 {
	color: skyblue;
	font-size: 40px;
	text-align: center;
}

#contents h6, h2 {
	text-align: center;
}
#contents h6 {
	padding-bottom: 8px;
	padding-top: 8px;
}
#contents p {
	color: blue;
	text-indent: 80px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
}
#contents ul {
	padding-left: 60px;
	margin-left: 60px;
}
#contents ul li {
	text-align: left;
	padding: 3px;
	color: #a1005f;
}
/*steady2*/
#steady2 {
	height: 350px;
	background: url("../images/contacts2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/*table*/
table {
    margin: 0 auto;
}
th, td {
    padding: 6px;
    text-align: left;
}
tr:hover {
	background-color: #00e5d4;
	transition-delay: 0.1s;
}
input[type=text] {
    padding: 10px 0;
    border: 2px solid #000;
    border-radius: 2px;
}
input[type=text]:focus {
    background-color: lightblue;
}
input[placeholder] {
    padding-left: 5px;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: 1px solid #000;
    color: white;
    padding: 8px 8px;
    text-decoration: none;
    cursor: pointer;
}


/*footer*/
#footer {
	border: 3px solid black;
	height: 200px;
	background: url("../images/flash.jpg") no-repeat;
	background-size: cover;
}
#footer h2 {
	padding-top: 15px;
	padding-right: 10px;
	text-align: right;
	font-size: 20px;
	color: red;
}
#icons {
	padding-left: 30px;
}
#icons li {
	list-style-type: none;
	display: inline-block;
	float: left;
}
#icons li img {
	width: 45px;
	height: 45px;
	padding: 10px 5px;
	transition: 0.5s all;
}
#icons li img:hover {
	transform: rotateZ(-25deg);
}




